export PATH="/usr/local/bin:/usr/local/sbin:/Users/james/bin:/usr/local/mysql/bin:/Users/james/.composer/vendor/bin:/Applications/Sublime Text.app/Contents/SharedSupport/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin"

export EDITOR="vim"
